<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <sessionState mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <authentication mode="None" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <My.MySettings>
      <setting name="ACGServices_Redirect_wsAddExtendedCase_UAT_AddExtendedCase"
        serializeAs="String">
        <value>https://ranassl.accidentcreditgroup.co.uk:5151/UATranaaddcase/addextendedcase.asmx</value>
      </setting>
      <setting name="ACGServices_Redirect_wsAddExtendedCase_AddExtendedCase"
        serializeAs="String">
        <value>https://ranassl.accidentcreditgroup.co.uk:5151/ranaaddcase/addextendedcase.asmx</value>
      </setting>
      <setting name="ACGServices_Redirect_wsUpdateCase_UpdateCase"
        serializeAs="String">
        <value>https://ranassl.accidentcreditgroup.co.uk:5151/ranaaddcase/updatecase.asmx</value>
      </setting>
      <setting name="ACGServices_Redirect_wsUpdateCase_UAT_UpdateCase"
        serializeAs="String">
        <value>https://ranassl.accidentcreditgroup.co.uk:5151/UATRanaAddCase/UpdateCase.asmx</value>
      </setting>
      <setting name="ACGServices_Redirect_wsCasesAF_CasesAF" serializeAs="String">
        <value>https://ranassl.accidentcreditgroup.co.uk:5151/ranaaddcase/CasesAF.asmx</value>
      </setting>
      <setting name="ACGServices_Redirect_wsCasesAF_UAT_CasesAF" serializeAs="String">
        <value>https://ranassl.accidentcreditgroup.co.uk:5151/UATranaaddcase/CasesAF.asmx</value>
      </setting>
    </My.MySettings>
  </applicationSettings>
</configuration>
